DB_ROOT_PASSWORD=admin123
STUDENT_DATA="NAMA_SAYA|KELAS"
EVENT=ukk

PMA_BASE_PORT=8080
DB_BASE_PORT=3306

CONTAINER_MEMORY=512m
CONTAINER_CPUS=0.5

OUTPUT_FILE=ukk_accounts_database.csv
SHEET_API_URL=""