STUDENT_DATA="Dhavin_Fasya_Alviyanto|SIJA_2|xxxxxxx,Muhammad_Daffa_Athalla|SIJA_2|xxxxxxx"
SERVER_HOST="localhost"
DB_ROOT_PASSWORD=12345
DB_BASE_PORT=3307
DB_VERSION="10.6"
CONTAINER_MEMORY="128m"
CONTAINER_CPUS="0.2"
PMA_PORT=8080
OUTPUT_FILE="ukk_account_database.csv"
SSL_PATH="ssl"
WAHA_URL="http://127.0.0.1:3000/api/sendText"
WAHA_API_KEY="0000000000000000000000"